# Node dependencies
node_modules

# Build output (if any)
dist
build

# Logs
npm-debug.log
yarn-debug.log
pnpm-debug.log

# Local env files
.env
.env.*.local

# OS / Editor junk
.DS_Store
.vscode
.idea